/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Custom CSS */

.chart-container {
  width: 563px;
  height: 563px;
  background-color: rgba(243, 231, 233, 0.9);
  border-radius: 10px;
  padding: 20px;
}

.forecast-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 40px;
}

.forecast-form_label {
  font-size: 1.5rem;
  font-weight: 700;
}

.error-tag {
  position: absolute;
  top: 105%;
  left: 0%;
}

.forecast-viewvar-p {
  font-size: 16px;
  color: #29394c;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.forecast-cityName {
  font-size: 48px;
  font-weight: 700;
  color: #3f8a89;
}
